@{
    ViewBag.Title = "Chinhsachbaomat";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<main role="main">
    <section class="section-container section-wheather">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chính Sách Bảo Mật</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <!--Danh sách thành phố, điểm đến, núi-->
                <div class="col-12 col-md-8">
                    <div class="card card-list-weather rounded-0">
                        <div class="card-header">
                            <h1 class="card-title">
                                <a href="~/Views/Home/Chinhsachbaomat.cshtml">
                                    Chính Sách Bảo Mật
                                </a>
                            </h1>
                        </div>
                        <div class="card-body pb-0">
                            <div class="toc-container"><div class="toc-title-container"><p class="toc-title">Nội dung chính</p><span class="title-toggle"><span class="btn btn-sm btn-outline-secondary btn-toggle-toc show"><i class="bi bi-list-nested"></i></span></span></div><nav class="toc-links"><ul class="ez-toc-list ez-toc-list-level-1"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#1.-dieu-khoan-va-dieu-kien-chung" title="1. Điều khoản và điều kiện chung">1. Điều khoản và điều kiện chung</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#2.-chinh-sach-bao-mat-thong-tin-ca-nhan-/-bao-ve-quyen-rieng-tu" title="2. Chính sách Bảo mật Thông tin cá nhân / Bảo vệ Quyền riêng tư">2. Chính sách Bảo mật Thông tin cá nhân / Bảo vệ Quyền riêng tư</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#3.-thu-thap-va-xu-ly-thong-tin-ca-nhan" title="3. Thu thập và Xử lý Thông tin cá nhân">3. Thu thập và Xử lý Thông tin cá nhân</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#4.-bao-mat-thong-tin" title="4. Bảo mật thông tin">4. Bảo mật thông tin</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#5.-dia-chi-giao-thuc-internet" title="5. Địa chỉ giao thức Internet">5. Địa chỉ giao thức Internet</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#6.-cookie" title="6. Cookie">6. Cookie</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#7.-lien-ket-ben-ngoai" title="7. Liên kết bên ngoài">7. Liên kết bên ngoài</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#8.-cac-bien-phap-bao-mat" title="8. Các biện pháp bảo mật">8. Các biện pháp bảo mật</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#9.-cac-dieu-khoan-va-dieu-kien-khac" title="9. Các điều khoản và điều kiện khác">9. Các điều khoản và điều kiện khác</a></li></ul></nav></div>

                            <div class="html-content">
                                <div id="anc-6156003" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="21">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="1.-dieu-khoan-va-dieu-kien-chung">1. Điều khoản và điều kiện chung</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi cám ơn bạn đã ghé thăm trang web Dự báo thời tiết <a href="/">https://Team10-Weather</a> và đã quan tâm đến các sản phẩm của chúng tôi. Chúng tôi tạo nên thông báo này để công khai về việc thu thập và phát tán thông tin của chúng tôi. Bằng việc truy cập và/hoặc sử dụng các trang web của chúng tôi ở địa chỉ URL / tên miền https://Team10-Weather (sau đây gọi là "trang web"), có nghĩa là bạn với tư cách là người dùng đã chấp nhận và đồng ý tuân theo các điều kiện và điều khoản của Thông báo này. Nếu bạn không đồng ý với bất kỳ điều kiện và điều khoản nào trong tuyên bố này, bạn nên ngừng truy cập và sử dụng trang web.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156004" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="22">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="2.-chinh-sach-bao-mat-thong-tin-ca-nhan-/-bao-ve-quyen-rieng-tu">2. Chính sách Bảo mật Thông tin cá nhân / Bảo vệ Quyền riêng tư</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi cam kết bảo vệ quyền riêng tư và bảo mật thông tin cá nhân của bạn. Chúng tôi hoạt động kinh doanh tuân thủ theo các điều luật hiện hành về bảo mật thông tin cá nhân và bảo vệ quyền riêng tư.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156005" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="23">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="3.-thu-thap-va-xu-ly-thong-tin-ca-nhan">3. Thu thập và Xử lý Thông tin cá nhân</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi sẽ không thu thập bất kỳ thông tin cá nhân nào về bạn (ví dụ như tên, giới tính và thông tin liên lạc của bạn) qua trang web, trừ khi bạn tự nguyện chọn cung cấp cho chúng tôi những thông tin này (ví dụ như khi đăng ký, tham gia khảo sát và đặt đơn hàng). Thông tin cá nhân bạn cung cấp hoặc được thu thập từ bạn (trong văn bản này được gọi là "thông tin nói trên") khi bạn truy cập và/hoặc sử dụng trang web sẽ chỉ được sử dụng cho những mục đích sau:</p>
                                                    <p>a. Cho phép bạn truy cập và/hoặc sử dụng dịch vụ trên trang web;</p>
                                                    <p>b. Nhận diện bạn khi bạn truy cập và/hoặc sử dụng trang web;</p>
                                                    <p>c. Nâng cao và cập nhật hồ sơ của chúng tôi liên quan đến những dịch vụ bạn đã yêu cầu và để thông báo cho bạn về những sản phẩm và dịch vụ mà bạn có thể quan tâm;</p>
                                                    <p>d. Cải thiện quy mô và chất lượng các sản phẩm và dịch vụ của chúng tôi;</p>
                                                    <p>e. trong trường hợp bạn chọn nhận tin tức cập nhật từ chúng tôi qua email, để cung cấp những cập nhật này tới địa chỉ email của bạn.</p>
                                                    <p>Chúng tôi không sử dụng và cũng không chấp nhận việc sử dụng thư rác.</p>
                                                    <p>Bạn có thể hủy đăng ký nhận bản tin từ chúng tôi bất kỳ lúc nào tại đây .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156006" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="24">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="4.-bao-mat-thong-tin">4. Bảo mật thông tin</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi sẽ không tiết lộ thông tin nói trên cho các bên thứ ba (ngoại trừ việc sử dụng, bảo mật và/hoặc chuyển giao trong những đơn vị khác thuộc phạm vi quyền hạn của Tập đoàn BSH ở các khu vực tài phán khác), trừ khi chúng tôi đã nhận được sự chấp thuận bằng văn bản của bạn và/hoặc phải tiết lộ theo nghĩa vụ pháp lý.</p>
                                                    <p>Bất kể những điều đã đề cập ở trên trong điều khoản này, chúng tôi sẽ tự do chỉ định các nhà cung cấp dịch vụ bên thứ ba (bao gồm các nhà cung cấp dịch vụ thanh toán, quản trị, sao lưu, quản lý thông tin và/hoặc các dịch vụ khác liên quan tới việc bảo trì và/hoặc vận hành của trang web), và điều này có thể sẽ đòi hỏi chúng tôi phải chuyển giao và/hoặc lưu trữ thông tin nói trên trong các cơ sở dữ liệu của họ, có thể bao gồm các cơ sở ở những đơn vị thuộc phạm vi quyền hạn khác, và việc bạn truy cập và/hoặc sử dụng trang web có nghĩa là bạn đã đồng ý với sự chỉ định nói trên về việc bảo mật và/hoặc chuyển giao thông tin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156007" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="25">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="5.-dia-chi-giao-thuc-internet">5. Địa chỉ giao thức Internet</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi có thể sử dụng địa chỉ giao thức Internet của bạn để giúp xác định các vấn đề với máy chủ của chúng tôi và để quản trị trang web. Địa chỉ giao thức Internet của bạn có thể được sử dụng để nhận dạng bạn và để thu thập thông tin nhân khẩu học trên diện rộng về đối tượng truy cập trang web, phục vụ cho việc phân tích và lập kế hoạch chiến lược của chúng tôi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156008" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="26">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="6.-cookie">6. Cookie</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Trang web sử dụng một chức năng của trình duyệt được gọi là "cookie" (hoặc còn được gọi là bộ thu thập dữ liệu người dùng). Chúng tôi sử dụng cookie để cung cấp những nội dung cụ thể theo sở thích của bạn, cải thiện trải nghiệm người dùng trên trang web, bao gồm việc lưu tên đăng nhập và mật khẩu để bạn không phải nhập lại mỗi lần truy cập trang web, và những mục đích tương tự khác. Bạn có thể tắt cookie bằng cách thay đổi cài đặt của trình duyệt, tuy nhiên việc tắt cookie này có thể sẽ làm chậm hoặc chặn các chức năng nhất định và/hoặc chặn việc truy cập đến một số phần nội dung cấu thành trang web.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156009" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="27">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="7.-lien-ket-ben-ngoai">7. Liên kết bên ngoài</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Trang web có thể chứa liên kết tới các trang web khác và chúng tôi sẽ không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung thông tin, việc quản lý và bảo mật của những trang web này.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156010" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="28">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="8.-cac-bien-phap-bao-mat">8. Các biện pháp bảo mật</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi sẽ thực hiện tất cả các biện pháp kỹ thuật và tổ chức cần thiết để bảo vệ thông tin cá nhân của bạn không bị xóa sai / bất hợp pháp, bị thay đổi mà không được phép, chuyển giao hoặc công khai trái phép hay hủy thông tin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anc-6156011" class="m-contenttextmedia " data-t-name="ContentTextMedia" data-t-id="29">
                                    <div class="content">
                                        <div class="heading">
                                            <h2 class="a-heading" id="9.-cac-dieu-khoan-va-dieu-kien-khac">9. Các điều khoản và điều kiện khác</h2>
                                        </div>
                                        <div class="content-inner">
                                            <div class="js-moreless" data-moreless-config="ContentTextMedia" data-external-resize-control="true">
                                                <div class="text js-content">
                                                    <p>Chúng tôi được quyền quyết định và thay đổi bất kỳ phần nào trong tuyên bố này.</p>
                                                    <p>Nếu có bất kỳ thắc mắc nào liên quan đến chính sách bảo mật dữ liệu của chúng tôi, bạn có thể gửi thông tin cho đơn vị phụ trách của chúng tôi tại địa chỉ <a href="mailto:info@Team10-Weather">info@Team10-Weather</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Quảng cáo-->
                <div class="col-12 col-md-4">
                    <div class="current-location">
                        <div class="location-name">
                            <span class="location-name-icon">
                                <i class="bi bi-geo"></i>
                            </span>
                            <span class="location-name-main">
                                <a href="/ha-noi">
                                    Hà Nội
                                </a>
                            </span>
                        </div>
                        <div class="location-data">
                            <div class="location-auto-refresh">
                                <span>Đã cập nhật 3 phút trước</span>
                            </div>
                            <div class="location-data-summary">
                                <div class="overview-current">
                                    <img src="https://data.Team10-Weather/weather/icons/04n@2x.png" alt="Mây cụm">
                                    <span class="current-temperature">28°</span>
                                    <div class="unit-group">
                                        <p>C</p>
                                        <p title="Thay đổi đơn vị" class="btn-unit-switcher">
                                            <span>F</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="overview-caption">
                                    <p class="overview-caption-item">Mây cụm</p>
                                    <p class="overview-caption-item">Cảm giác như 33°.</p>
                                </div>
                                <div class="weather-feature">
                                    <h3>Dự báo những ngày tới</h3>
                                    <div class="weather-feature-day justify-content-center">
                                        <a href="/ha-noi" class="weather-feature-day-btn">Hôm nay</a>
                                        <a href="/ha-noi/ngay-mai" class="weather-feature-day-btn">Ngày mai</a>
                                        <a href="/ha-noi/3-ngay-toi" class="weather-feature-day-btn">3 ngày</a>
                                        <a href="/ha-noi/5-ngay-toi" class="weather-feature-day-btn">5 ngày</a>
                                    </div>
                                    <div class="weather-feature-day justify-content-center mt-2">
                                        <a href="/ha-noi/7-ngay-toi" class="weather-feature-day-btn">7 ngày</a>
                                        <a href="/ha-noi/10-ngay-toi" class="weather-feature-day-btn">10 ngày</a>
                                        <a href="/ha-noi/15-ngay-toi" class="weather-feature-day-btn">15 ngày</a>
                                        <a href="/ha-noi/30-ngay-toi" class="weather-feature-day-btn">30 ngày</a>
                                    </div>
                                </div>
                                <div class="weather-detail mt-2">
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <span class="weather-icon">
                                                    <i class="bi bi-sun"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Mặt trời mọc/lặn</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <div class="weather-sun">
                                                <span><i class="bi bi-sunrise"></i>05:33</span>
                                                <span>
                                                    <i class="bi bi-sunset"></i>
                                                    18:17
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="temp" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Temperature</title><path d="M10.333 15.48v.321c.971.357 1.667 1.322 1.667 2.456 0 1.438-1.12 2.604-2.5 2.604S7 19.695 7 18.257c0-1.134.696-2.099 1.667-2.456v-.322a2.084 2.084 0 0 1-1.25-1.91V5.583a2.083 2.083 0 1 1 4.166 0v7.986c0 .855-.514 1.589-1.25 1.91zM15.8 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Thấp/Cao</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">23°/36°</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <span class="weather-icon">
                                                    <i class="bi bi-droplet"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Độ ẩm</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">83%</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="pressure" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Pressure</title><path d="M8.462 18.293l-.29-.002c-.6-.004-1.043-.007-1.259-.007-1.119 0-1.182-1.015-.34-1.734l.196-.164.508-.425 1.543-1.292c1.014-.846 1.74-1.45 2.073-1.723.735-.601 1.305-.596 2.033.022.387.329.959.805 2.207 1.841a377.936 377.936 0 0 1 2.18 1.816c.796.67.742 1.66-.295 1.66h-2.382v1.77c0 .83-.393 1.223-1.258 1.223h-2.994c-.809 0-1.258-.42-1.258-1.207v-1.773l-.664-.005zm0-12.807l-.29.002c-.6.004-1.043.006-1.259.006-1.119 0-1.182 1.016-.34 1.734l.196.164.508.426 1.543 1.29a348.68 348.68 0 0 0 2.073 1.724c.735.601 1.305.596 2.033-.022.387-.328.959-.805 2.207-1.84a377.937 377.937 0 0 0 2.18-1.817c.796-.67.742-1.659-.295-1.659h-2.382v-1.77c0-.832-.393-1.224-1.258-1.224h-2.994c-.809 0-1.258.42-1.258 1.207V5.48l-.664.005z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Áp suất</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">1002 mb</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="visibility" theme="dark" data-testid="Icon" aria-hidden="true" role="img" width="1024" height="1024" viewBox="0 0 1024 1024"><title>Visibility</title><path d="M491.856 879.808c-60.48-5.056-110.848-25.184-171.328-55.424-120.96-55.424-216.704-146.112-292.256-256.96-25.248-40.352-30.24-80.64 0-126.016 80.608-115.872 186.464-211.68 317.472-272.096 110.816-50.4 226.752-50.4 337.664 0 136 60.48 241.824 156.224 317.44 282.208 15.104 25.216 25.12 65.504 10.048 85.728-105.792 191.424-256.992 367.84-519.04 342.56zm292.256-377.92c0-151.168-120.96-272.064-272.096-272.064-146.144 0-272.128 126.016-272.128 272.064 0 151.232 120.96 277.216 272.128 277.216 151.104-.032 272.096-125.984 272.096-277.216z"></path><path d="M789.808 500.416c0 156.896-125.472 287.52-282.336 282.336-156.864 0-282.336-130.656-282.336-287.488 0-146.4 130.656-277.12 282.336-277.12 156.896-.032 287.584 125.376 282.336 282.272zM512.752 348.832c-83.68 0-151.584 67.968-151.584 151.584 0 88.864 67.968 156.896 151.584 156.896 83.648 0 156.832-73.216 156.832-156.896-5.184-83.648-73.152-151.584-156.832-151.584z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Tầm nhìn</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">6 km</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="wind" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Wind</title><path d="M6 8.67h5.354c1.457 0 2.234-1.158 2.234-2.222S12.687 4.4 11.354 4.4c-.564 0-1.023.208-1.366.488M3 11.67h15.54c1.457 0 2.235-1.158 2.235-2.222S19.873 7.4 18.54 7.4c-.747 0-1.311.365-1.663.78M6 15.4h9.389c1.457 0 2.234 1.159 2.234 2.223 0 1.064-.901 2.048-2.234 2.048a2.153 2.153 0 0 1-1.63-.742" stroke-width="2" stroke="currentColor" stroke-linecap="round" fill="none"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Gió</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">5.66 km/giờ</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="dewpoint" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Dew Point</title><path d="M17 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path><path fill-rule="evenodd" d="M9.743 18.912a4.182 4.182 0 0 1-2.928-1.182 3.972 3.972 0 0 1-.614-4.962.743.743 0 0 1 .646-.349c.234 0 .476.095.66.275l4.467 4.355c.385.376.39.998-.076 1.275a4.216 4.216 0 0 1-2.155.588M9.855 5c.316 0 .61.14.828.395.171.2.36.416.562.647 1.857 2.126 4.965 5.684 4.965 8.73 0 3.416-2.85 6.195-6.353 6.195-3.505 0-6.357-2.78-6.357-6.195 0-3.082 2.921-6.406 4.854-8.605.242-.275.47-.535.673-.772C9.245 5.14 9.54 5 9.855 5"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Điểm ngưng</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">25 °C</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="uv" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>UV Level</title><path d="M7.4 5.598a.784.784 0 0 1 .25-.92c.335-.256.824-.197 1.02.062.066.063.066.063.08.085l2.406 3.152-.626.238a3.983 3.983 0 0 0-1.097.633l-.522.424L7.4 5.598zm4.539 2.358c-.21 0-.418.017-.625.05l-.664.106.09-.666.438-3.266c.013-.072.013-.072.012-.057a.783.783 0 0 1 .666-.616.78.78 0 0 1 .872.639l.006.038.507 3.933-.662-.108a3.957 3.957 0 0 0-.64-.053zm-7.781 3.19l.026-.004 3.934-.507-.108.662a3.98 3.98 0 0 0-.003 1.266l.105.664-.665-.09-3.265-.439a.784.784 0 0 1-.676-.679c-.054-.42.238-.809.63-.869l.022-.004zm11.504-.617a3.98 3.98 0 0 0-.632-1.097l-.425-.522.623-.256 3.056-1.256a.787.787 0 0 1 .916.253c.256.337.199.817-.104 1.063l-.045.037-3.151 2.405-.238-.627zm-1.205-1.672a3.984 3.984 0 0 0-1.095-.637l-.626-.24.41-.532 2.008-2.602c.059-.07.059-.07.046-.052a.78.78 0 0 1 1.306.227c.076.185.079.39.02.54l-.021.06-1.528 3.662-.52-.426zM4.595 7.793c.162-.387.611-.58.971-.441.017.004.017.004.055.02L9.283 8.9l-.425.52a3.985 3.985 0 0 0-.636 1.094l-.24.627-3.144-2.425a.784.784 0 0 1-.243-.924zm14.443 7.367c.054.045.054.045.044.04a.784.784 0 0 1 .199.884c-.163.386-.61.58-.964.443-.024-.006-.024-.006-.062-.022l-3.662-1.529.426-.52a3.98 3.98 0 0 0 .636-1.094l.241-.626 3.142 2.424zm1.332-3.303c.053.422-.239.809-.63.87l-.035.006-3.945.508.108-.662a3.999 3.999 0 0 0 .003-1.266l-.105-.663.665.09 3.272.44c.068.012.068.012.052.01a.784.784 0 0 1 .615.667zm-3.894 6.421c.024.068.024.068.017.053a.786.786 0 0 1-.27.87c-.332.25-.816.194-1.047-.091-.022-.023-.022-.023-.05-.058l-2.406-3.154.626-.237a3.977 3.977 0 0 0 1.097-.632l.523-.425 1.51 3.674zm-8.26-4.932c.151.397.365.767.633 1.097l.424.522-.622.256-3.054 1.255a.787.787 0 0 1-.92-.25.781.781 0 0 1-.154-.58c.027-.199.127-.379.227-.452.045-.046.045-.046.075-.069l3.153-2.406.238.627zm3.723 2.572c.209 0 .417-.016.625-.049l.662-.103-.089.664-.438 3.26-.012.062a.785.785 0 0 1-.666.618c-.048.005-.048.005-.101.006-.386 0-.714-.28-.764-.612-.01-.043-.01-.043-.014-.072l-.507-3.934.662.108c.213.035.427.052.642.052zM7.366 18.27l.006-.015L8.9 14.592l.52.426a3.99 3.99 0 0 0 1.094.636l.626.241-.41.531-2.012 2.609-.04.046a.788.788 0 0 1-.886.2.787.787 0 0 1-.428-1.011z"></path><path d="M11.911 14.322a2.411 2.411 0 1 0 0-4.822 2.411 2.411 0 0 0 0 4.822zm0 2a4.411 4.411 0 1 1 0-8.822 4.411 4.411 0 0 1 0 8.822z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Chỉ số UV</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">0</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="font-h2">Bản đồ Windy</h2>
                        <div>
                            <iframe width="100%" height="350" src="https://embed.windy.com/embed2.html?lat=21.116671&amp;lon=105.883331&amp;detailLat=21.116671&amp;detailLon=105.883331&amp;width=100%25&amp;height=550&amp;zoom=5&amp;level=surface&amp;overlay=wind&amp;product=ecmwf&amp;menu=&amp;message=true&amp;marker=true&amp;calendar=now&amp;pressure=true&amp;type=map&amp;location=coordinates&amp;detail=&amp;metricWind=default&amp;metricTemp=%C2%B0C&amp;radarRange=-1"
                                    frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        const cityName = 'Hanoi';
        getWeather(cityName);
        get48hWeather();
    });

    function getWeather(cityName) {
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=beb12a9c79cbb1ada4fd8303c5e4deb6&units=metric&lang=vi`;
        $.ajax({
            url: apiUrl,
            method: 'GET',
            success: function (data) {
                console.log(data.name)
                //var heading = document.getElementById("aaa");
                $('#countryName').text('Thời tiết ' + data.name);
                $('#tempLowHigh').text(data.main.temp_min + '°/' + data.main.temp_max + '°');
                $('.current-temperature').text(data.main.temp + ' °C');
                $('#description').text(data.main.description);
                $('#humidity').text(data.main.humidity + " %");
                $('#feels_like').text('Cảm giác như ' + data.main.feels_like + "°");
                $('.khuVuc').text(data.name);
                $('#gio').text(data.wind.speed + ' km/h');
                //$('#countryName').html(``);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
            }
        });
    }
</script>
