@{
    ViewBag.Title = "Dieukhoandichvu";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<main role="main">
    <section class="section-container section-wheather">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Điều Khoản Dịch Vụ</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <!--Danh sách thành phố, điểm đến, núi-->
                <div class="col-12 col-md-8">
                    <div class="card card-list-weather rounded-0">
                        <div class="card-header">
                            <h1 class="card-title">
                                <a href="/dieu-khoan-dich-vu">
                                    Điều Khoản Dịch Vụ
                                </a>
                            </h1>
                        </div>
                        <div class="card-body pb-0">


                            <div class="html-content">
                                <p>1. Lời mở đầu: Team10-Weatherlà một trang web báo cáo thời tiết. Truy cập Team10-Weather hiện miễn phí với tất cả người dùng.&nbsp;</p>
                                <p>2. Bản quyền: Trang web chứa tài liệu có bản quyền, thương hiệu và thông tin độc quyền khác, bao gồm nhưng không giới hạn ở văn bản, phần mềm, ảnh và đồ họa. Team10-Weather là chủ sở hữu duy nhất của tài liệu có trong trang web và tất cả các quyền sở hữu trí tuệ cũng như các quyền sở hữu khác theo đó. Mọi quyền, do đó được bảo lưu rõ ràng. Vì vậy, ngoại trừ trường hợp tạo bản sao lưu một phần nội dung của trang web chỉ để sử dụng cá nhân mà không xóa dấu hiệu ban đầu thì người dùng bị cấm bán, sao chép, sửa đổi, tái tạo, tái xuất bản, tải, truyền hoặc phân phối theo bất kỳ dạng thức nào có thể là tất cả hoặc một phần tài liệu của Team10-Weather khi không có sự cho phép trước rõ ràng bằng văn bản của Team10-Weather.</p>
                                <p>3. Tuyên bố từ chối trách nhiệm pháp lý:</p>
                                <p>A. Người dùng đồng ý việc sử dụng Team10-Weather là chủ ý riêng của họ và do đó họ sẽ tự chịu rủi ro về việc sử dụng trang web. Team10-Weather, các chi nhánh và nhà cung cấp dịch vụ của Team10-Weather không đảm bảo rằng trang web sẽ không bị gián đoạn, không có lỗi hay mọi lỗi sẽ được sửa chữa. Hơn nữa, Team10-Weather không đưa ra bất kỳ hình thức đảm bảo nào về kết quả có được từ việc sử dụng trang web, thông tin được cung cấp dưới đây, đặc biệt là về tính chính xác hoặc độ tin cậy cũng như mọi dịch vụ được cung cấp trong đó.</p>
                                <p>B. Thông tin và dịch vụ của Team10-Weather được cung cấp trên cơ sở “nguyên trạng” mà không đảm bảo theo bất kỳ hình thức nào dù rõ ràng hay ngụ ý, bao gồm nhưng không giới hạn ở mọi đảm bảo về quyền sở hữu, thông tin, dịch hoặc sản phẩm được cung cấp qua Team10-Weather và mọi bảo đảm ngụ ý về khả năng bán, tính phù hợp với mục đích cụ thể hoặc không vi phạm.</p>
                                <p>C. Thông tin có trong Team10-Weather sẽ không được hiểu là lời khuyên hoặc khuyến khích thực hiện hoặc không phải là hành động cụ thể đối với người dùng. Team10-Weather không chịu trách nhiệm pháp lý về cách hiểu thông tin có trong trang web này mà người dùng đưa ra hoặc về hành động mà họ quyết định thực hiện theo thông tin có được thông qua trang web này.</p>
                                <p>D. Team10-Weather không chịu trách nhiệm pháp lý về mọi thiệt hại hoặc tổn thất do bất kỳ sự gián đoạn, lỗi, sự thiếu chính xác, sửa chữa, xóa dịch vụ gây ra. Ngoài ra, Team10-Weather không thể chịu trách nhiệm pháp lý về mọi lỗi thực hiện hay không thực hiện, chậm trễ trong hoạt động hoặc truyền tải, lỗi tuyến truyền thông và vi rút máy tính lan truyền trên dịch vụ sau khi người dùng truy cập Team10-Weather hoặc trang web khác được liên kết với các trang của Team10-Weather, trộm cắp hoặc phá hủy hoặc truy cập trái phép vào, thay đổi hoặc sử dụng bản ghi dựa trên việc vi phạm hợp đồng, sai lầm cá nhân, sơ suất hoặc bất kỳ nguyên nhân tố tụng nào khác. Giới hạn trách nhiệm pháp lý này mở rộng đối với và bao gồm mọi thiệt hại phát sinh từ việc tải xuống bất kỳ tài liệu nào đã đăng trong Team10-Weather hoặc trong bất kỳ trang web nào khác được liên kết với các trang của Team10-Weather.</p>
                                <p>4. Thiết bị: Người dùng chịu trách nhiệm hoàn toàn về việc lắp đặt và duy trì mọi thiết bị cần thiết để truy cập và sử dụng trang web này (ví dụ: đường dây điện thoại, phần cứng máy tính). Tuy nhiên, Team10-Weather bảo lưu quyền thay đổi thiết bị cần thiết để truy cập và sử dụng trang web này bất cứ khi nào mà không thông báo trước. Tất cả các phí của bên thứ ba (ví dụ: Phí của nhà cung cấp dịch vụ Internet, v.v..) để truy cập và sử dụng trang web này sẽ do người dùng gánh chịu.</p>
                                <p>5. Liên kết tới các trang web khác: Team10-Weather kết hợp các liên kết tới trang web khác. Team10-Weather không thực hiện và không có vai trò thực hiện bất kỳ hình thức kiểm soát nào đối với khả năng cung cấp, nội dung, chính sách bảo vệ dữ liệu cá nhân, hành vi vi phạm luật bản quyền có thể xảy ra, chất lượng và số lượng thông tin cũng như dịch vụ được cung cấp bởi các trang web khác đó. Người dùng phải giải quyết với những trang web khác này về mọi vấn đề có thể phát sinh trong khi truy cập hoặc sử dụng các trang web đó. Team10-Weather không xác nhận theo bất kỳ cách nào hay chịu trách nhiệm về nội dung trên các trang web khác đó.</p>
                                <p>6. Quảng cáo: Team10-Weather đăng tài liệu quảng cáo và thường chứa các liên kết đến trang chủ của nhà quảng cáo. Team10-Weather không thực hiện và không có vai trò thực hiện bất kỳ hình thức kiểm soát nào đối với nội dung của các quảng cáo, biểu ngữ hoặc quảng cáo bật lên đó, chính sách bảo vệ dữ liệu cá nhân hoặc hành vi vi phạm luật bản quyền có thể xảy ra. Người dùng phải giải quyết trực tiếp với nhà quảng cáo về mọi vấn đề có thể phát sinh trong khi truy cập hoặc sử dụng các trang web của họ. Team10-Weather không xác nhận theo bất kỳ cách nào hay chịu trách nhiệm về nội dung của quảng cáo đăng trên trang web hoặc về nội dung trên trang web của nhà quảng cáo. Ngoài ra, Team10-Weather không chịu trách nhiệm pháp lý về mọi khả năng liên lạc của người dùng với bất kỳ bên thứ ba nào – nhà cung cấp dịch vụ được quảng cáo thông qua hoặc được liên kết với Team10-Weather hay về bất kỳ thương vụ nào có thể phát sinh từ việc liên lạc này.</p>
                                <p>7. Nội dung của bên thứ ba: Team10-Weather có thể đăng thông tin, dữ liệu, văn bản, đồ họa do người dùng gửi đến. Tài liệu này, cho dù được đăng công khai hay gửi riêng tư đều giữ nguyên trách nhiệm hoàn toàn của người sở hữu. Team10-Weather không chịu trách nhiệm pháp lý về mọi lỗi và/hoặc thiếu sót có trong tài liệu này hoặc về mọi thiệt hại mà người dùng có thể phải chịu do việc sử dụng tài liệu này. Team10-Weather không chịu trách nhiệm pháp lý về và người dùng đồng ý không đăng bất kỳ tài liệu khiêu dâm, thô tục, khiếm nhã, xúc phạm nào, mọi tài liệu mang tính phỉ báng, lăng mạ, xâm phạm quyền riêng tư hoặc công khai, vi phạm luật bản quyền hoặc tài liệu khác trái phát luật. Ngoài ra, Team10-Weather không chịu trách nhiệm pháp lý về mọi tài liệu do người dùng đăng hoặc truyền tải có tính chất khuyến khích hành vi cấu thành tội phạm hình sự, tăng trách nhiệm dân sự hoặc hành vi khác vi phạm luật pháp. Người dùng trang web hiểu và thừa nhận tính chất quốc tế của Internet và do đó đồng ý tôn trọng cũng như tuân thủ các quy tắc đạo lý địa phương của mỗi quốc gia.</p>
                                <p>8. Giám sát: Team10-Weather có quyền từ chối đăng hoặc xóa mọi tài liệu đã gửi đến hoặc đã đăng trên trang web theo quyết định riêng của mình. Team10-Weather sẽ có quyền xóa mọi tài liệu mà theo quyết định riêng của mình, Team10-Weather cho rằng vi phạm các điều khoản hay nói cách khác là không phù hợp.</p>
                                <p>9. Bảo vệ dữ liệu: Trong một số trường hợp nhất định, để tạo điều kiện thuận lợi người dùng có thể được yêu cầu cung cấp thông tin cá nhân. Thông tin này do Team10-Weather sử dụng và Team10-Weather sẽ không chia sẻ thông tin này với các bên thứ ba. Để biết thêm thông tin chi tiết về việc sử dụng và xử lý thông tin này, vui lòng xem Tuyên bố bảo mật của chúng tôi.</p>
                                <p>10. Điều khoản thay đổi: Team10-Weather có quyền thay đổi hoặc sửa đổi điều khoản và điều kiện áp dụng cho việc sử dụng trang web, một phần hoặc toàn bộ bất kỳ lúc nào và có hoặc không có thông báo trước. Về phía người dùng, việc sử dụng trang web sau khi thay đổi hoặc sửa đổi điều khoản sử dụng này sẽ được coi là tiếp tục chấp nhận những thay đổi đó.</p>
                                <p>11. Điều khoản khác: Những điều khoản sử dụng này tạo nên toàn bộ thỏa thuận giữa các bên về việc sử dụng Team10-Weather và thay thế tất cả các thỏa thuận bằng miệng hoặc bằng văn bản trước đó về chủ đề này. Không có sự khước từ nào của một trong hai bên về bất kỳ vi phạm hay mặc nhiên nào dưới đây sẽ bị coi là khước từ bất kỳ vi phạm hoặc mặc nhiên nào tiền lệ hoặc sau này. Các tiêu đề mục được chèn vào chỉ để thuận tiện chứ không ảnh hưởng đến việc giải thích các Điều khoản sử dụng này.</p>
                                <p>12.Hiệu lực từng phần:Nếu một điều khoản của Thỏa thuận này không hợp pháp, không hiệu lực hoặc không thể thi hành theo bất kỳ thẩm quyền nào thì sẽ không ảnh hưởng đến tính hợp pháp, tính hiệu lực hoặc khả năng bắt buộc thi hành theo thẩm quyền đó của bất kỳ và tất cả các điều khoản khác trong Thỏa thuận này.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Quảng cáo-->
                <div class="col-12 col-md-4">
                    <div class="current-location">
                        <div class="location-name">
                            <span class="location-name-icon">
                                <i class="bi bi-geo"></i>
                            </span>
                            <span class="location-name-main">
                                <a href="/ha-noi">
                                    Hà Nội
                                </a>
                            </span>
                        </div>
                        <div class="location-data">
                            <div class="location-auto-refresh">
                                <span>Đã cập nhật 24 phút trước</span>
                            </div>
                            <div class="location-data-summary">
                                <div class="overview-current">
                                    <img src="https://data.Team10-Weather/weather/icons/50n@2x.png" alt="Sương mờ">
                                    <span class="current-temperature">27°</span>
                                    <div class="unit-group">
                                        <p>C</p>
                                        <p title="Thay đổi đơn vị" class="btn-unit-switcher">
                                            <span>F</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="overview-caption">
                                    <p class="overview-caption-item">Sương mờ</p>
                                    <p class="overview-caption-item">Cảm giác như 31°.</p>
                                </div>
                                <div class="weather-feature">
                                    <h3>Dự báo những ngày tới</h3>
                                    <div class="weather-feature-day justify-content-center">
                                        <a href="/ha-noi" class="weather-feature-day-btn">Hôm nay</a>
                                        <a href="/ha-noi/ngay-mai" class="weather-feature-day-btn">Ngày mai</a>
                                        <a href="/ha-noi/3-ngay-toi" class="weather-feature-day-btn">3 ngày</a>
                                        <a href="/ha-noi/5-ngay-toi" class="weather-feature-day-btn">5 ngày</a>
                                    </div>
                                    <div class="weather-feature-day justify-content-center mt-2">
                                        <a href="/ha-noi/7-ngay-toi" class="weather-feature-day-btn">7 ngày</a>
                                        <a href="/ha-noi/10-ngay-toi" class="weather-feature-day-btn">10 ngày</a>
                                        <a href="/ha-noi/15-ngay-toi" class="weather-feature-day-btn">15 ngày</a>
                                        <a href="/ha-noi/30-ngay-toi" class="weather-feature-day-btn">30 ngày</a>
                                    </div>
                                </div>
                                <div class="weather-detail mt-2">
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <span class="weather-icon">
                                                    <i class="bi bi-sun"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Mặt trời mọc/lặn</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <div class="weather-sun">
                                                <span><i class="bi bi-sunrise"></i>05:33</span>
                                                <span>
                                                    <i class="bi bi-sunset"></i>
                                                    18:17
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="temp" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Temperature</title><path d="M10.333 15.48v.321c.971.357 1.667 1.322 1.667 2.456 0 1.438-1.12 2.604-2.5 2.604S7 19.695 7 18.257c0-1.134.696-2.099 1.667-2.456v-.322a2.084 2.084 0 0 1-1.25-1.91V5.583a2.083 2.083 0 1 1 4.166 0v7.986c0 .855-.514 1.589-1.25 1.91zM15.8 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Thấp/Cao</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">23°/36°</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <span class="weather-icon">
                                                    <i class="bi bi-droplet"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Độ ẩm</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">89%</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="pressure" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Pressure</title><path d="M8.462 18.293l-.29-.002c-.6-.004-1.043-.007-1.259-.007-1.119 0-1.182-1.015-.34-1.734l.196-.164.508-.425 1.543-1.292c1.014-.846 1.74-1.45 2.073-1.723.735-.601 1.305-.596 2.033.022.387.329.959.805 2.207 1.841a377.936 377.936 0 0 1 2.18 1.816c.796.67.742 1.66-.295 1.66h-2.382v1.77c0 .83-.393 1.223-1.258 1.223h-2.994c-.809 0-1.258-.42-1.258-1.207v-1.773l-.664-.005zm0-12.807l-.29.002c-.6.004-1.043.006-1.259.006-1.119 0-1.182 1.016-.34 1.734l.196.164.508.426 1.543 1.29a348.68 348.68 0 0 0 2.073 1.724c.735.601 1.305.596 2.033-.022.387-.328.959-.805 2.207-1.84a377.937 377.937 0 0 0 2.18-1.817c.796-.67.742-1.659-.295-1.659h-2.382v-1.77c0-.832-.393-1.224-1.258-1.224h-2.994c-.809 0-1.258.42-1.258 1.207V5.48l-.664.005z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Áp suất</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">1002 mb</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="visibility" theme="dark" data-testid="Icon" aria-hidden="true" role="img" width="1024" height="1024" viewBox="0 0 1024 1024"><title>Visibility</title><path d="M491.856 879.808c-60.48-5.056-110.848-25.184-171.328-55.424-120.96-55.424-216.704-146.112-292.256-256.96-25.248-40.352-30.24-80.64 0-126.016 80.608-115.872 186.464-211.68 317.472-272.096 110.816-50.4 226.752-50.4 337.664 0 136 60.48 241.824 156.224 317.44 282.208 15.104 25.216 25.12 65.504 10.048 85.728-105.792 191.424-256.992 367.84-519.04 342.56zm292.256-377.92c0-151.168-120.96-272.064-272.096-272.064-146.144 0-272.128 126.016-272.128 272.064 0 151.232 120.96 277.216 272.128 277.216 151.104-.032 272.096-125.984 272.096-277.216z"></path><path d="M789.808 500.416c0 156.896-125.472 287.52-282.336 282.336-156.864 0-282.336-130.656-282.336-287.488 0-146.4 130.656-277.12 282.336-277.12 156.896-.032 287.584 125.376 282.336 282.272zM512.752 348.832c-83.68 0-151.584 67.968-151.584 151.584 0 88.864 67.968 156.896 151.584 156.896 83.648 0 156.832-73.216 156.832-156.896-5.184-83.648-73.152-151.584-156.832-151.584z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Tầm nhìn</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">5 km</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="wind" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Wind</title><path d="M6 8.67h5.354c1.457 0 2.234-1.158 2.234-2.222S12.687 4.4 11.354 4.4c-.564 0-1.023.208-1.366.488M3 11.67h15.54c1.457 0 2.235-1.158 2.235-2.222S19.873 7.4 18.54 7.4c-.747 0-1.311.365-1.663.78M6 15.4h9.389c1.457 0 2.234 1.159 2.234 2.223 0 1.064-.901 2.048-2.234 2.048a2.153 2.153 0 0 1-1.63-.742" stroke-width="2" stroke="currentColor" stroke-linecap="round" fill="none"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Gió</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">5.66 km/giờ</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="dewpoint" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Dew Point</title><path d="M17 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path><path fill-rule="evenodd" d="M9.743 18.912a4.182 4.182 0 0 1-2.928-1.182 3.972 3.972 0 0 1-.614-4.962.743.743 0 0 1 .646-.349c.234 0 .476.095.66.275l4.467 4.355c.385.376.39.998-.076 1.275a4.216 4.216 0 0 1-2.155.588M9.855 5c.316 0 .61.14.828.395.171.2.36.416.562.647 1.857 2.126 4.965 5.684 4.965 8.73 0 3.416-2.85 6.195-6.353 6.195-3.505 0-6.357-2.78-6.357-6.195 0-3.082 2.921-6.406 4.854-8.605.242-.275.47-.535.673-.772C9.245 5.14 9.54 5 9.855 5"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Điểm ngưng</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">25 °C</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <div class="avatar-img rounded-circle">
                                                <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="uv" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>UV Level</title><path d="M7.4 5.598a.784.784 0 0 1 .25-.92c.335-.256.824-.197 1.02.062.066.063.066.063.08.085l2.406 3.152-.626.238a3.983 3.983 0 0 0-1.097.633l-.522.424L7.4 5.598zm4.539 2.358c-.21 0-.418.017-.625.05l-.664.106.09-.666.438-3.266c.013-.072.013-.072.012-.057a.783.783 0 0 1 .666-.616.78.78 0 0 1 .872.639l.006.038.507 3.933-.662-.108a3.957 3.957 0 0 0-.64-.053zm-7.781 3.19l.026-.004 3.934-.507-.108.662a3.98 3.98 0 0 0-.003 1.266l.105.664-.665-.09-3.265-.439a.784.784 0 0 1-.676-.679c-.054-.42.238-.809.63-.869l.022-.004zm11.504-.617a3.98 3.98 0 0 0-.632-1.097l-.425-.522.623-.256 3.056-1.256a.787.787 0 0 1 .916.253c.256.337.199.817-.104 1.063l-.045.037-3.151 2.405-.238-.627zm-1.205-1.672a3.984 3.984 0 0 0-1.095-.637l-.626-.24.41-.532 2.008-2.602c.059-.07.059-.07.046-.052a.78.78 0 0 1 1.306.227c.076.185.079.39.02.54l-.021.06-1.528 3.662-.52-.426zM4.595 7.793c.162-.387.611-.58.971-.441.017.004.017.004.055.02L9.283 8.9l-.425.52a3.985 3.985 0 0 0-.636 1.094l-.24.627-3.144-2.425a.784.784 0 0 1-.243-.924zm14.443 7.367c.054.045.054.045.044.04a.784.784 0 0 1 .199.884c-.163.386-.61.58-.964.443-.024-.006-.024-.006-.062-.022l-3.662-1.529.426-.52a3.98 3.98 0 0 0 .636-1.094l.241-.626 3.142 2.424zm1.332-3.303c.053.422-.239.809-.63.87l-.035.006-3.945.508.108-.662a3.999 3.999 0 0 0 .003-1.266l-.105-.663.665.09 3.272.44c.068.012.068.012.052.01a.784.784 0 0 1 .615.667zm-3.894 6.421c.024.068.024.068.017.053a.786.786 0 0 1-.27.87c-.332.25-.816.194-1.047-.091-.022-.023-.022-.023-.05-.058l-2.406-3.154.626-.237a3.977 3.977 0 0 0 1.097-.632l.523-.425 1.51 3.674zm-8.26-4.932c.151.397.365.767.633 1.097l.424.522-.622.256-3.054 1.255a.787.787 0 0 1-.92-.25.781.781 0 0 1-.154-.58c.027-.199.127-.379.227-.452.045-.046.045-.046.075-.069l3.153-2.406.238.627zm3.723 2.572c.209 0 .417-.016.625-.049l.662-.103-.089.664-.438 3.26-.012.062a.785.785 0 0 1-.666.618c-.048.005-.048.005-.101.006-.386 0-.714-.28-.764-.612-.01-.043-.01-.043-.014-.072l-.507-3.934.662.108c.213.035.427.052.642.052zM7.366 18.27l.006-.015L8.9 14.592l.52.426a3.99 3.99 0 0 0 1.094.636l.626.241-.41.531-2.012 2.609-.04.046a.788.788 0 0 1-.886.2.787.787 0 0 1-.428-1.011z"></path><path d="M11.911 14.322a2.411 2.411 0 1 0 0-4.822 2.411 2.411 0 0 0 0 4.822zm0 2a4.411 4.411 0 1 1 0-8.822 4.411 4.411 0 0 1 0 8.822z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Chỉ số UV</h6>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-white op-8 fw-bold">0</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="font-h2">Bản đồ Windy</h2>
                        <div>
                            <iframe width="100%" height="350" src="https://embed.windy.com/embed2.html?lat=21.116671&amp;lon=105.883331&amp;detailLat=21.116671&amp;detailLon=105.883331&amp;width=100%25&amp;height=550&amp;zoom=5&amp;level=surface&amp;overlay=wind&amp;product=ecmwf&amp;menu=&amp;message=true&amp;marker=true&amp;calendar=now&amp;pressure=true&amp;type=map&amp;location=coordinates&amp;detail=&amp;metricWind=default&amp;metricTemp=%C2%B0C&amp;radarRange=-1"
                                    frameborder="0"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        const cityName = 'Hanoi';
        getWeather(cityName);
        get48hWeather();
    });

    function getWeather(cityName) {
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=beb12a9c79cbb1ada4fd8303c5e4deb6&units=metric&lang=vi`;
        $.ajax({
            url: apiUrl,
            method: 'GET',
            success: function (data) {
                console.log(data.name)
                //var heading = document.getElementById("aaa");
                $('#countryName').text('Thời tiết ' + data.name);
                $('#tempLowHigh').text(data.main.temp_min + '°/' + data.main.temp_max + '°');
                $('.current-temperature').text(data.main.temp + ' °C');
                $('#description').text(data.main.description);
                $('#humidity').text(data.main.humidity + " %");
                $('#feels_like').text('Cảm giác như ' + data.main.feels_like + "°");
                $('.khuVuc').text(data.name);
                $('#gio').text(data.wind.speed + ' km/h');
                //$('#countryName').html(``);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
            }
        });
    }
    
</script>