<main role="main" class="mt-3">
    <section class="bg-blue section-current">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="user-current-location py-3">
                        <div class="user-current-location-title d-flex">
                            <!--City and country Dislay here-->
                            <h1 class="font-h2" id="location"></h1>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div id="image-div" class="overview-current">
                                <!-- Current Temp-->
                                <span id="current-temp" class="current-temperature"></span>
                            </div>
                            <div class="overview-caption mx-3">
                                <!-- Description -->
                                <p id="text" class="overview-caption-item overview-caption-item-detail"></p>
                                <!-- Feels like -->
                                <p id="feels_like" class="overview-caption-item overview-caption-summary-detail"></p>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between weather-detail weather-location mt-2">
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="temp" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24">
                                            <title>Nhiệt độ</title>
                                            <path d="M10.333 15.48v.321c.971.357 1.667 1.322 1.667 2.456 0 1.438-1.12 2.604-2.5 2.604S7 19.695 7 18.257c0-1.134.696-2.099 1.667-2.456v-.322a2.084 2.084 0 0 1-1.25-1.91V5.583a2.083 2.083 0 1 1 4.166 0v7.986c0 .855-.514 1.589-1.25 1.91zM15.8 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">Min/Max Temp</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <!-- Min max temp here-->
                                        <span id="min_max_temp" class="text-white op-8 fw-bold"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <span class="weather-icon">
                                            <i class="bi bi-droplet"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">Độ ẩm</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <!-- Humidity-->
                                        <span id="humidity" class="text-white op-8 fw-bold"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="visibility" theme="dark" data-testid="Icon" aria-hidden="true" role="img" width="1024" height="1024" viewBox="0 0 1024 1024"><title>Tầm nhìn</title><path d="M491.856 879.808c-60.48-5.056-110.848-25.184-171.328-55.424-120.96-55.424-216.704-146.112-292.256-256.96-25.248-40.352-30.24-80.64 0-126.016 80.608-115.872 186.464-211.68 317.472-272.096 110.816-50.4 226.752-50.4 337.664 0 136 60.48 241.824 156.224 317.44 282.208 15.104 25.216 25.12 65.504 10.048 85.728-105.792 191.424-256.992 367.84-519.04 342.56zm292.256-377.92c0-151.168-120.96-272.064-272.096-272.064-146.144 0-272.128 126.016-272.128 272.064 0 151.232 120.96 277.216 272.128 277.216 151.104-.032 272.096-125.984 272.096-277.216z"></path><path d="M789.808 500.416c0 156.896-125.472 287.52-282.336 282.336-156.864 0-282.336-130.656-282.336-287.488 0-146.4 130.656-277.12 282.336-277.12 156.896-.032 287.584 125.376 282.336 282.272zM512.752 348.832c-83.68 0-151.584 67.968-151.584 151.584 0 88.864 67.968 156.896 151.584 156.896 83.648 0 156.832-73.216 156.832-156.896-5.184-83.648-73.152-151.584-156.832-151.584z"></path></svg>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">Tầm nhìn</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <!-- Vision-->
                                        <span id="vis_km" class="text-white op-8 fw-bold"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="wind" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Wind</title><path d="M6 8.67h5.354c1.457 0 2.234-1.158 2.234-2.222S12.687 4.4 11.354 4.4c-.564 0-1.023.208-1.366.488M3 11.67h15.54c1.457 0 2.235-1.158 2.235-2.222S19.873 7.4 18.54 7.4c-.747 0-1.311.365-1.663.78M6 15.4h9.389c1.457 0 2.234 1.159 2.234 2.223 0 1.064-.901 2.048-2.234 2.048a2.153 2.153 0 0 1-1.63-.742" stroke-width="2" stroke="currentColor" stroke-linecap="round" fill="none"></path></svg>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">Gió</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <!-- Wind speed -->
                                        <span id="wind_kph" class="text-white op-8 fw-bold"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="dewpoint" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Điểm ngưng</title><path d="M17 8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path><path fill-rule="evenodd" d="M9.743 18.912a4.182 4.182 0 0 1-2.928-1.182 3.972 3.972 0 0 1-.614-4.962.743.743 0 0 1 .646-.349c.234 0 .476.095.66.275l4.467 4.355c.385.376.39.998-.076 1.275a4.216 4.216 0 0 1-2.155.588M9.855 5c.316 0 .61.14.828.395.171.2.36.416.562.647 1.857 2.126 4.965 5.684 4.965 8.73 0 3.416-2.85 6.195-6.353 6.195-3.505 0-6.357-2.78-6.357-6.195 0-3.082 2.921-6.406 4.854-8.605.242-.275.47-.535.673-.772C9.245 5.14 9.54 5 9.855 5"></path></svg>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">Điểm ngưng</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <span class="text-white op-8 fw-bold">24 °</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex weather-detail-location">
                                <div class="avatar">
                                    <div class="avatar-img rounded-circle">
                                        <svg class="WeatherDetailsListItem--icon--NgMGn Icon--icon--2AbGu Icon--darkTheme--2U1o8" set="current-conditions" name="uv" theme="dark" data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24 24"><title>UV Level</title><path d="M7.4 5.598a.784.784 0 0 1 .25-.92c.335-.256.824-.197 1.02.062.066.063.066.063.08.085l2.406 3.152-.626.238a3.983 3.983 0 0 0-1.097.633l-.522.424L7.4 5.598zm4.539 2.358c-.21 0-.418.017-.625.05l-.664.106.09-.666.438-3.266c.013-.072.013-.072.012-.057a.783.783 0 0 1 .666-.616.78.78 0 0 1 .872.639l.006.038.507 3.933-.662-.108a3.957 3.957 0 0 0-.64-.053zm-7.781 3.19l.026-.004 3.934-.507-.108.662a3.98 3.98 0 0 0-.003 1.266l.105.664-.665-.09-3.265-.439a.784.784 0 0 1-.676-.679c-.054-.42.238-.809.63-.869l.022-.004zm11.504-.617a3.98 3.98 0 0 0-.632-1.097l-.425-.522.623-.256 3.056-1.256a.787.787 0 0 1 .916.253c.256.337.199.817-.104 1.063l-.045.037-3.151 2.405-.238-.627zm-1.205-1.672a3.984 3.984 0 0 0-1.095-.637l-.626-.24.41-.532 2.008-2.602c.059-.07.059-.07.046-.052a.78.78 0 0 1 1.306.227c.076.185.079.39.02.54l-.021.06-1.528 3.662-.52-.426zM4.595 7.793c.162-.387.611-.58.971-.441.017.004.017.004.055.02L9.283 8.9l-.425.52a3.985 3.985 0 0 0-.636 1.094l-.24.627-3.144-2.425a.784.784 0 0 1-.243-.924zm14.443 7.367c.054.045.054.045.044.04a.784.784 0 0 1 .199.884c-.163.386-.61.58-.964.443-.024-.006-.024-.006-.062-.022l-3.662-1.529.426-.52a3.98 3.98 0 0 0 .636-1.094l.241-.626 3.142 2.424zm1.332-3.303c.053.422-.239.809-.63.87l-.035.006-3.945.508.108-.662a3.999 3.999 0 0 0 .003-1.266l-.105-.663.665.09 3.272.44c.068.012.068.012.052.01a.784.784 0 0 1 .615.667zm-3.894 6.421c.024.068.024.068.017.053a.786.786 0 0 1-.27.87c-.332.25-.816.194-1.047-.091-.022-.023-.022-.023-.05-.058l-2.406-3.154.626-.237a3.977 3.977 0 0 0 1.097-.632l.523-.425 1.51 3.674zm-8.26-4.932c.151.397.365.767.633 1.097l.424.522-.622.256-3.054 1.255a.787.787 0 0 1-.92-.25.781.781 0 0 1-.154-.58c.027-.199.127-.379.227-.452.045-.046.045-.046.075-.069l3.153-2.406.238.627zm3.723 2.572c.209 0 .417-.016.625-.049l.662-.103-.089.664-.438 3.26-.012.062a.785.785 0 0 1-.666.618c-.048.005-.048.005-.101.006-.386 0-.714-.28-.764-.612-.01-.043-.01-.043-.014-.072l-.507-3.934.662.108c.213.035.427.052.642.052zM7.366 18.27l.006-.015L8.9 14.592l.52.426a3.99 3.99 0 0 0 1.094.636l.626.241-.41.531-2.012 2.609-.04.046a.788.788 0 0 1-.886.2.787.787 0 0 1-.428-1.011z"></path><path d="M11.911 14.322a2.411 2.411 0 1 0 0-4.822 2.411 2.411 0 0 0 0 4.822zm0 2a4.411 4.411 0 1 1 0-8.822 4.411 4.411 0 0 1 0 8.822z"></path></svg>
                                    </div>
                                </div>
                                <div class="flex-1 pt-1 ml-2 weather-detail-location-item">
                                    <span class="fw-bold mb-1">UV</span>
                                    <div class="d-flex ml-auto align-items-center">
                                        <!-- UV -->
                                        <span id="uv" class="text-white op-8 fw-bold">7.95</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="list-weather">
                        <div class="nav-scroller py-1 mb-2" style="height: 255px;">
                            <nav class="nav" id="ThreeDayForecast">
                                @*<div class="weather-item">
                                    <span class="weather-item-title">T4 05/04</span>
                                    <div class="weather-item-body">
                                        <img src="https://file.thoitiet.edu.vn/thoitietedu/icons/04d@2x.png" alt="Mây đen u ám">
                                        <div class="precipitation" title="Độ ẩm">
                                            <i class="bi bi-droplet"></i> 71 %
                                        </div>
                                        <p class="mb-0">
                                            Mây đen u ám
                                        </p>
                                    </div>
                                    <div class="weather-item-footer">
                                        <span>24 °</span> /
                                        <span>33 °</span>
                                    </div>
                                </div>*@
                                @*3 day forecast*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-md-8">
                <h2 class="font-h2">Thời tiết nổi bật</h2>
                <div class="row" id="Detail">
                    @*chi tiet*@
                    
                    
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div>
                    <h2 class="font-h2">Bản đồ Windy</h2>
                    <div>
                        <iframe width="100%" height="350" src="https://embed.windy.com/embed2.html?lat=21.116671&amp;lon=105.883331&amp;detailLat=21.116671&amp;detailLon=105.883331&amp;width=100%25&amp;height=550&amp;zoom=5&amp;level=surface&amp;overlay=wind&amp;product=ecmwf&amp;menu=&amp;message=true&amp;marker=true&amp;calendar=now&amp;pressure=true&amp;type=map&amp;location=coordinates&amp;detail=&amp;metricWind=default&amp;metricTemp=%C2%B0C&amp;radarRange=-1"
                                frameborder="0"></iframe>
                    </div>
                </div>

                <div class="current-location top-news">
                    <div class="d-flex justify-content-between">
                        <h2 class="font-h2">
                            Tin tức mới nhất
                        </h2>
                        <a href="/tong-hop" class="text-white-50">
                            Xem tất cả
                        </a>
                    </div>
                    <ul class="list-unstyled list-top-news">
                        <li class="media my-1 pb-2 list-top-new-items">
                            <img src="https://file.thoitiet.edu.vn/thoitietedu/2023/3/30/du-bao-thoi-tiet-ngay-31-03-2023.jpg" class="me-3" alt="Dự báo thời tiết ngày 31/03/2023">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Dự báo thời tiết ngày 31/03/2023</h5>
                            </div>
                            <a rel="nofollow" href="/du-bao-thoi-tiet-ngay-31-03-2023-rdaqhpyuvol.html" class="top-news-link"></a>
                        </li>
                        <li class="media my-1 pb-2 list-top-new-items">
                            <img src="https://file.thoitiet.edu.vn/thoitietedu/2023/3/29/du-bao-thoi-tiet-ngay-30-03-2023.jpg" class="me-3" alt="Dự báo thời tiết ngày 30/03/2023">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Dự báo thời tiết ngày 30/03/2023</h5>
                            </div>
                            <a rel="nofollow" href="/du-bao-thoi-tiet-ngay-30-03-2023-zpmktkluoyk.html" class="top-news-link"></a>
                        </li>
                        <li class="media my-1 pb-2 list-top-new-items">
                            <img src="https://file.thoitiet.edu.vn/thoitietedu/2023/3/28/du-bao-thoi-tiet-ngay-29-03-2023.jpg" class="me-3" alt="Dự báo thời tiết ngày 29/03/2023">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Dự báo thời tiết ngày 29/03/2023</h5>
                            </div>
                            <a rel="nofollow" href="/du-bao-thoi-tiet-ngay-29-03-2023-qjmycywuaxk.html" class="top-news-link"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h2 class="font-h2">Thời tiết 63 Tỉnh thành</h2>
            </div>
            <div class="card-body">
                <div class="cover-content cover-content-bottom" id="child-item-childrens">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ha-noi" title="Hà Nội">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hà Nội
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ha-giang" title="Hà Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hà Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/cao-bang" title="Cao Bằng">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Cao Bằng
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/bac-kan" title="Bắc Kạn">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bắc Kạn
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/tuyen-quang" title="Tuyên Quang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Tuyên Quang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/lao-cai" title="Lào Cai">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Lào Cai
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/dien-bien" title="Điện Biên">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Điện Biên
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/lai-chau" title="Lai Châu">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Lai Châu
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/son-la" title="Sơn La">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Sơn La
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/yen-bai" title="Yên Bái">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Yên Bái
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/hoa-binh" title="Hoà Bình">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hoà Bình
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/thai-nguyen" title="Thái Nguyên">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Thái Nguyên
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/lang-son" title="Lạng Sơn">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Lạng Sơn
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/quang-ninh" title="Quảng Ninh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Quảng Ninh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/bac-giang" title="Bắc Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bắc Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/phu-tho" title="Phú Thọ">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Phú Thọ
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/vinh-phuc" title="Vĩnh Phúc">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Vĩnh Phúc
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/bac-ninh" title="Bắc Ninh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bắc Ninh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/hai-duong" title="Hải Dương">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hải Dương
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/hai-phong" title="Hải Phòng">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hải Phòng
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/hung-yen" title="Hưng Yên">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hưng Yên
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/thai-binh" title="Thái Bình">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Thái Bình
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ha-nam" title="Hà Nam">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hà Nam
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/nam-dinh" title="Nam Định">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Nam Định
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ninh-binh" title="Ninh Bình">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Ninh Bình
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/thanh-hoa" title="Thanh Hóa">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Thanh Hóa
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/nghe-an" title="Nghệ An">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Nghệ An
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ha-tinh" title="Hà Tĩnh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hà Tĩnh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/quang-binh" title="Quảng Bình">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Quảng Bình
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/quang-tri" title="Quảng Trị">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Quảng Trị
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/thua-thien-hue" title="Thừa Thiên Huế">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Thừa Thiên Huế
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/da-nang" title="Đà Nẵng">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Đà Nẵng
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/quang-nam" title="Quảng Nam">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Quảng Nam
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/quang-ngai" title="Quảng Ngãi">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Quảng Ngãi
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/binh-dinh" title="Bình Định">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bình Định
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/phu-yen" title="Phú Yên">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Phú Yên
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/khanh-hoa" title="Khánh Hòa">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Khánh Hòa
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ninh-thuan" title="Ninh Thuận">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Ninh Thuận
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/binh-thuan" title="Bình Thuận">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bình Thuận
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/kon-tum" title="Kon Tum">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Kon Tum
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/gia-lai" title="Gia Lai">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Gia Lai
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/dak-lak" title="Đắk Lắk">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Đắk Lắk
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/dak-nong" title="Đắk Nông">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Đắk Nông
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/lam-dong" title="Lâm Đồng">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Lâm Đồng
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/binh-phuoc" title="Bình Phước">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bình Phước
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/tay-ninh" title="Tây Ninh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Tây Ninh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/binh-duong" title="Bình Dương">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bình Dương
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/dong-nai" title="Đồng Nai">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Đồng Nai
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ba-ria-vung-tau" title="Bà Rịa - Vũng Tàu">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bà Rịa - Vũng Tàu
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ho-chi-minh" title="Hồ Chí Minh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hồ Chí Minh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/long-an" title="Long An">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Long An
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/tien-giang" title="Tiền Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Tiền Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ben-tre" title="Bến Tre">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bến Tre
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/tra-vinh" title="Trà Vinh">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Trà Vinh
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/vinh-long" title="Vĩnh Long">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Vĩnh Long
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/dong-thap" title="Đồng Tháp">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Đồng Tháp
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/an-giang" title="An Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        An Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/kien-giang" title="Kiên Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Kiên Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/can-tho" title="Cần Thơ">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Cần Thơ
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/hau-giang" title="Hậu Giang">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Hậu Giang
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/soc-trang" title="Sóc Trăng">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Sóc Trăng
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/bac-lieu" title="Bạc Liêu">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Bạc Liêu
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="item-link shadow-sm my-2 p-1">
                                <h3 class="font-h3">
                                    <a href="/ca-mau" title="Cà Mau">
                                        <i class="bi bi-arrow-right-short"></i>
                                        Cà Mau
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="btn btn-link showMoreContent" data-target="#child-item-childrens" style="cursor:pointer">Xem thêm</span>

            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/WeatherServices/CurrentWeather.js"></script>
<script>
    var myElement = document.getElementById("#Detail");
    var ganHTML = '';
    $(document).ready(function () {
        var provinces = ["Ha Giang", "Cao Bang", "Lao Cai", "Dien+Bien+Phu", "Hanoi", "Haiphong", "Thanh Hoa", "Quang Tri", "Danang", "Quang Ngai", "Phan Thiet,VN", "Ca Mau,VN"];
        var strHTML = '';
        provinces.forEach(function (province) {
            //console.log(getWeather(province))
            getWeather(province).then(function (result) {
                strHTML += result.toString(); // In kết quả trả về 
                $('#Detail').html(strHTML)
            });
        });
    });
    async function getWeather(cityName) {
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=beb12a9c79cbb1ada4fd8303c5e4deb6&units=metric&lang=vi`;
        var str = '';
        await $.ajax({
            url: apiUrl,
            method: 'GET',
            success: function (data) {
                str = ` <div class="col-6 col-md-3">
                            <article class="forecast shadow">
                                <div class="location-wheather">
                                    <div class="card mb-3">
                                        <a href="/ha-giang">
                                            <h3 class="card-city-title">${data.name}</h3>
                                            <div class="card-city-body">
                                                <img src="https://openweathermap.org/img/wn/${data.weather[0].icon}@@2x.png" alt="Hà Giang" title="Clouds">
                                                <div class="precipitation" title="Độ ẩm">
                                                    <i class="bi bi-droplet"></i>
                                                    ${data.clouds.all} %
                                                </div>
                                            </div>
                                            <p class="mb-0">
                                                ${data.weather[0].description}
                                            </p>
                                            <div class="card-city-footer">
                                                <p title="Hiện tại">${data.main.temp}°C</p>
                                                <p>/</p>
                                                <p title="Cảm giác như">${data.main.feels_like}°C</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>`;
                ////console.log(apiUrl)
                //document.getElementById("#Detail").innerHTML
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('ERROR: ' + apiUrl + ': ' + textStatus + ': ' + errorThrown);
            }
           
        });
        return str;
    }
    
</script>